{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>D7B | FIR's Filed</title>

        <link rel="icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}">
        <link type="text/css" href="{% static 'assets/css/vendor-morris.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'assets/css/vendor-bootstrap-datepicker.css' %}" rel="stylesheet">

        <!-- Prevent the demo from appearing in search engines -->
        <meta name="robots" content="noindex">

        <!-- App CSS -->
        <link type="text/css" href="{% static 'assets/css/app.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'assets/css/app.rtl.css' %}" rel="stylesheet">

        <!-- Simplebar -->
        <link type="text/css" href="{% static 'assets/vendor/simplebar.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="mdk-drawer-layout js-mdk-drawer-layout" data-fullbleed data-push data-responsive-width="992px" data-has-scrolling-region>

            <div class="mdk-drawer-layout__content">
                <!--header-layout-->
                <div class="mdk-header-layout js-mdk-header-layout  mdk-header--fixed  mdk-header-layout__content--scrollable">
                    <!--header--> 

                    {% include 'miniproject/header.html' %}

                    <!--content-->
                    <div class="mdk-header-layout__content top-navbar mdk-header-layout__content--scrollable h-100">
                        
                        <!--0main content-->
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-12">
                                    <div style="float: right;">           
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">FIR Report</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>

                            {% if messages %}
                                <div class="alert alert-danger alert-dismissable fade show" role="alert">
                                    {% for message in messages %}
                                        <strong {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="card">
                                <div class="card-header">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <h4 class="card-title" style="text-align:left">
                                                FIR Filed List
                                            </h4>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <div class="text-right">
                                                <button type="button" class="btn btn-primary" data-toggle="modal"  data-target="#largeModal">File an FIR</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="data-table" style="table-layout: auto">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="text-center">Incident Category</th>
                                                    <th scope="col" class="text-center">Police Department</th>
                                                    <th scope="col" class="text-center">Suspect Age<br>and Gender</th>
                                                    <th scope="col" class="text-center">Victim Age<br>and Gender</th>
                                                    <th scope="col" class="text-center">Incident Location</th>
                                                    <th scope="col" class="text-center">Status</th>
                                                </tr>
                                                <tr>
                                                    <td id="sort0"></td>
                                                    <td id="sort1"></td>
                                                    <td id="sort2"></td>
                                                    <td id="sort3"></td>
                                                    <td id="sort4"></td>
                                                    <td id="sort5"></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if n == 1 %}
                                                    {% for i in All %}
                                                    <tr align="center">
                                                        <td>{{i.Category}}</td>
                                                        <td>{{i.Police_Department}}</td>
                                                        <td>{{i.S_age}}<br>{{i.S_gen}}</td>
                                                        <td>{{i.V_age}}<br>{{i.V_gen}}</td>
                                                        <td>{{i.Address}}<br>{{i.City}}<br>{{i.State}}</td>
                                                        <td>{{i.Status}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                {% else %}
                                                <tr>
                                                    <td align="center" colspan="6"><strong>No Records</strong></td>
                                                </tr>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--// END drawer-layout__content-->

            <!--LEFT DRAWER-->

            {% include 'miniproject/sidebar.html' %}

            <!-- // END drawer -->
        </div>
        <!-- // END drawer-layout -->

        <!-- Modal Starts -->
        <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="largeModalLabel">FIR Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    
                    <form action="{% url 'fir-report' %}" method="post">
                    {% csrf_token %}
                        <div class="modal-body">
                    
                            <div class="form-row">
                                
                                <div class="form-group col-md-6">
                                    <label for="sel1">Crime Category<span style="color:red"> *</span></label>
                                    <select class="form-control" name="Category" id="gender" required>
                                        <option value="" selected disabled>-- Select Option --</option>
                                        <option>VIOLATION</option>
                                        <option>MISDEMEANOR</option>
                                        <option>FELONY</option>
                                    </select>
                                    <p style="display: none;" id="gender-err"></p>                               
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="people" class="col-form-label">How many People were Involved in the Incident?<span style="color:red"> *</span></label>
                                    <input type="text" class="form-control" name="People" id="people" placeholder="eg. 2 people" required>
                                    <p style="display: none;" id="people-err"></p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="maleVicCount" class="col-form-label">Suspect Age Group<span style="color:red"> *</span></label>
                                    <select class="form-control" id="s-age" name="S-age" required>
                                        <option value="" selected disabled>-- Select Option --</option>
                                        <option>Below 18</option>
                                        <option>18-24</option>
                                        <option>25-44</option>
                                        <option>45-64</option>
                                    </select>
                                    <p style="display: none;" id="s-age-err"></p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="femaleVicCount" class="col-form-label">Suspect Race<span style="color:red"> *</span></label>
                                    <select class="custom-select d-block my-3" id="s-race" name="S-race" required>
                                        <option value="" selected disabled>-- Select Option --</option>
                                        <option>Asian</option>
                                        <option>Black</option>
                                        <option>Brown</option>
                                        <option>Hispanic/Latino</option>
                                        <option>White</option>
                                    </select>
                                    <p style="display: none;" id="s-race-err"></p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="vicCount" class="col-form-label">Suspect Gender<span style="color:red"> *</span></label>
                                    <select class="custom-select d-block my-3" id="s-gen" name="S-gen" required>
                                        <option value="" selected disabled>-- Select Option --</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Other</option>
                                    </select>
                                    <p style="display: none;" id="s-gen-err"></p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="maleVicCount" class="col-form-label">Victim Age Group<span style="color:red"> *</span></label>
                                    <select class="custom-select d-block my-3" id="v-age" name="V-age" required>
                                        <option value="" selected disabled>-- Select Option --</option>
                                        <option>Below 18</option>
                                        <option>18-24</option>
                                        <option>25-44</option>
                                        <option>45-64</option>
                                    </select>
                                    <p style="display: none;" id="v-age-err"></p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="femaleVicCount" class="col-form-label">Victim Race<span style="color:red"> *</span></label>
                                    <select class="custom-select d-block my-3" id="v-race" name="V-race" required>
                                        <option value="" selected disabled>-- Select Option --</option>
                                        <option>Asian</option>
                                        <option>Black</option>
                                        <option>Brown</option>
                                        <option>Hispanic/Latino</option>
                                        <option>White</option>
                                    </select>
                                    <p style="display: none;" id="v-race-err"></p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="vicCount" class="col-form-label">Victim Gender<span style="color:red"> *</span></label>
                                    <select class="custom-select d-block my-3" id="v-gen" name="V-gen" required>
                                        <option value="" selected disabled>-- Select Option --</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Other</option>
                                    </select>
                                    <p style="display: none;" id="v-gen-err"></p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="address" class="col-form-label">Location of Incident<span style="color:red"> *</span></label>
                                    <input type="text" class="form-control" name="Address1" id="address1" placeholder="Street Address" required>
                                    <p style="display: none;" id="address1-err"></p>
                                    <input type="text" class="form-control" name="Address2" id="address2" placeholder="Neighbourhood" required>
                                    <p style="display: none;" id="address2-err"></p>
                                    <input type="text" class="form-control" name="Address3" id="address3" placeholder="State" required>
                                    <p style="display: none;" id="address3-err"></p>
                                    <!-- <input type="text" class="form-control" name="Address4" id="address4" placeholder="Country" required>
                                    <p style="display: none;" id="address4-err"></p> -->
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="describe" class="col-form-label">Describe the Incident<span style="color:red"> *</span></label>
                                    <textarea type="text" class="form-control" name="Describe" id="describe" placeholder="Details" style="height: 140px;" required></textarea>
                                    <p style="display: none;" id="describe-err"></p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="sel1">Police Department<span style="color:red"> *</span></label>
                                    <select class="custom-select d-block my-3" id="incident" name="Incident" required>
                                        <option value="" selected disabled>-- Select Option --</option>
                                        <option>N.Y. HOUSING POLICE</option>
                                        <option>N.Y. POLICE DEPT</option>
                                        <option>N.Y. TRANSIT POLICE</option>
                                    </select>
                                    <p style="display: none;" id="incident-err"></p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="sel1">Were you in any way affected by the incident?<span style="color:red"> *</span></label>
                                    <select class="custom-select d-block my-3" id="affect" name="Affect" required>
                                        <option value="" selected disabled>-- Select Option --</option>
                                        <option>Yes</option>
                                        <option>No</option>
                                        <option>Can't say</option>
                                    </select>
                                    <p style="display: none;" id="affect-err"></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                <button type="submit" id="submit-err" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal Ends -->

        <!-- jQuery -->
        <script src="{% static 'assets/vendor/jquery.min.js' %}"></script>

        <!-- Bootstrap -->
        <script src="{% static 'assets/vendor/bootstrap.min.js' %}"></script>

        <!-- Simplebar -->
        <script src="{% static 'assets/vendor/simplebar.js' %}"></script>


        <script src="{% static 'assets/vendor/dom-factory.js' %}"></script>
        <!-- DOM Factory -->
        <script src="{% static 'assets/vendor/material-design-kit.js' %}"></script>
        <!-- MDK -->


        <script>
            (function() {
                'use strict';
                // Self Initialize DOM Factory Components
                domFactory.handler.autoInit()


                // Connect button(s) to drawer(s)
                var sidebarToggle = document.querySelectorAll('[data-toggle="sidebar"]')

                sidebarToggle.forEach(function(toggle) {
                    toggle.addEventListener('click', function(e) {
                        var selector = e.currentTarget.getAttribute('data-target') || '#default-drawer'
                        var drawer = document.querySelector(selector)
                        if (drawer) {
                            if (selector == '#default-drawer') {
                                $('.container-fluid').toggleClass('container--max');
                            }
                            drawer.mdkDrawer.toggle();
                        }
                    })
                })
            })()
        </script>


        <script src="{% static 'assets/vendor/jquery.dataTables.js' %}"></script>
        <script src="{% static 'assets/vendor/dataTables.bootstrap4.js' %}"></script>


        <!-- Name Validation -->
        <!-- <script>
            $(document).ready(function ()
            {
                $("#name").on("blur", function ()
                {
                    var errtag = document.getElementById("name-err");
                    var subtn = document.getElementById("submit-err");
                    var locs = $("#name").val();
                    var filter = /^[a-zA-Z]{2,}$/;

                    if (filter.test(locs))
                    {
                        errtag.style = "display:none";
                        subtn.disabled = false;
                        //   alert("valid");
                        $("#username-valid").removeClass("hidden");
                        $("#folios-invalid").addClass("hidden");
                    }
                    else
                    {
                        if (locs.length < 2)
                        {
                            subtn.disabled = true;
                            errtag.style = "display:block;color:red";
                            errtag.innerHTML = "This is a required field.";
                            $("#folios-invalid").removeClass("hidden");
                            $("#username-valid").addClass("hidden");
                            return false;
                        }
                        else
                        {
                            subtn.disabled = true;
                            errtag.style = "display:block;color:red";
                            errtag.innerHTML = "Please enter valid characters (A-Z,a-z).";
                            $("#folios-invalid").removeClass("hidden");
                            $("#username-valid").addClass("hidden");
                            return false;
                        }
                    }
                });
            });
        </script> -->

        <!-- Email Validation -->
        <!-- <script>
            $(document).ready(function () {

                $("#email").on("blur", function () {
                    var errtag = document.getElementById("email-err");
                    var subtn = document.getElementById("submit-err");
                    var mail = $("#email").val();
                    var filter = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

                    if (filter.test(mail))
                    {
                        if (mail.length > 6)
                        {
                            errtag.style = "display:none";
                            subtn.disabled = false;
                            //   alert("valid");
                            $("#mobile-valid").removeClass("hidden");
                            $("#folio-invalid").addClass("hidden");
                        }
                        else
                        {
                            errtag.style = "display:block;color:red";
                            errtag.innerHTML = "Please enter valid email";
                            subtn.disabled = true;
                            $("#folio-invalid").removeClass("hidden");
                            $("#mobile-valid").addClass("hidden");
                            return false;
                        }
                    }
                    else
                    {
                        subtn.disabled = true;
                        errtag.style = "display:block;color:red";
                        errtag.innerHTML = "Please enter email@exam.com";
                        $("#folio-invalid").removeClass("hidden");
                        $("#mobile-valid").addClass("hidden");
                        return false;
                    }

                });

            });
        </script> -->

        <!-- Crime Category Validation -->
        <script>
            $(document).ready(function ()
            {
                $("#gender").on("blur", function ()
                {
                    var errtag = document.getElementById("gender-err");
                    var subtn = document.getElementById("submit-err");
                    var mail = document.getElementById('gender');

                    if (mail.value)
                    {
                        errtag.style = "display:none";
                        subtn.disabled = false;
                        //   alert("valid");
                        //$("#mobile-valid").removeClass("hidden");
                        //$("#folio-invalid").addClass("hidden");
                    }
                    else
                    {
                        errtag.style = "display:block;color:red";
                        errtag.innerHTML = "Please select one option";
                        //$("#folio-invalid").removeClass("hidden");
                        //$("#mobile-valid").addClass("hidden");
                        return false;
                    }
                });
            });
        </script>

        <!-- Contact Validation -->
        <!-- <script>
            $(document).ready(function () {

                $("#phone").on("blur", function () {
                    var errtag = document.getElementById("phone-err");
                    var subtn = document.getElementById("submit-err");
                    var mobNum = $("#phone").val();
                    var filter = /^[7-9][0-9]{9}$/;

                    if (filter.test(mobNum))
                    {
                        errtag.style = "display:none";
                        subtn.disabled = false;
                        //   alert("valid");
                        $("#mobile-valid").removeClass("hidden");
                        $("#folio-invalid").addClass("hidden");
                    }
                    else
                    {
                        if (mobNum.length == 10) {
                            subtn.disabled = true;
                            errtag.style = "display:block;color:red";
                            errtag.innerHTML = "Please enter valid number";
                            $("#folio-invalid").removeClass("hidden");
                            $("#mobile-valid").addClass("hidden");
                            return false;
                        }
                        else
                        {
                            errtag.style = "display:block;color:red";
                            errtag.innerHTML = "Please enter a 10 digit number";
                            subtn.disabled = true;
                            $("#folio-invalid").removeClass("hidden");
                            $("#mobile-valid").addClass("hidden");
                            return false;
                        }
                    }

                });

            });
        </script> -->

        <!-- Ppl Involved Validation -->
        <script>
            $(document).ready(function ()
            {
                $("#people").on("blur", function ()
                {
                    var errtag = document.getElementById("people-err");
                    var subtn = document.getElementById("submit-err");
                    var locs = $("#people").val();
                    var filter = /^[0-9]{1,}$/;

                    if (filter.test(locs))
                    {
                        errtag.style = "display:none";
                        subtn.disabled = false;
                        //   alert("valid");
                        $("#username-valid").removeClass("hidden");
                        $("#folios-invalid").addClass("hidden");
                    }
                    else
                    {
                        if (locs.length < 1)
                        {
                            subtn.disabled = true;
                            errtag.style = "display:block;color:red";
                            errtag.innerHTML = "This is a required field.";
                            $("#folios-invalid").removeClass("hidden");
                            $("#username-valid").addClass("hidden");
                            return false;
                        }
                        else
                        {
                            subtn.disabled = true;
                            errtag.style = "display:block;color:red";
                            errtag.innerHTML = "Please enter numbers only (0-9).";
                            $("#folios-invalid").removeClass("hidden");
                            $("#username-valid").addClass("hidden");
                            return false;
                        }
                    }
                });
            });
        </script>

        <!-- Address1 Validation -->
        <script>
            $(document).ready(function ()
            {
                $("#address1").on("blur", function ()
                {
                    var errtag = document.getElementById("address1-err");
                    var subtn = document.getElementById("submit-err");
                    var locs = $("#address1").val();

                    if (locs.length > 2)
                    {
                        errtag.style = "display:none";
                        subtn.disabled = false;
                        //   alert("valid");
                        $("#username-valid").removeClass("hidden");
                        $("#folios-invalid").addClass("hidden");
                    }
                    else
                    {
                        subtn.disabled = true;
                        errtag.style = "display:block;color:red";
                        errtag.innerHTML = "This is a required field.";
                        $("#folios-invalid").removeClass("hidden");
                        $("#username-valid").addClass("hidden");
                        return false;
                    }
                });
            });
        </script>

        <!-- City/Address2 Validation -->
        <script>
            $(document).ready(function ()
            {
                $("#address2").on("blur", function ()
                {
                    var errtag = document.getElementById("address2-err");
                    var subtn = document.getElementById("submit-err");
                    var locs = $("#address2").val();
                    var filter = /^[a-zA-Z]{2,}$/;

                    if (filter.test(locs))
                    {
                        errtag.style = "display:none";
                        subtn.disabled = false;
                        //   alert("valid");
                        $("#username-valid").removeClass("hidden");
                        $("#folios-invalid").addClass("hidden");
                    }
                    else
                    {
                        if (locs.length < 2)
                        {
                            subtn.disabled = true;
                            errtag.style = "display:block;color:red";
                            errtag.innerHTML = "This is a required field.";
                            $("#folios-invalid").removeClass("hidden");
                            $("#username-valid").addClass("hidden");
                            return false;
                        }
                        else
                        {
                            subtn.disabled = true;
                            errtag.style = "display:block;color:red";
                            errtag.innerHTML = "Please enter valid characters (A-Z,a-z).";
                            $("#folios-invalid").removeClass("hidden");
                            $("#username-valid").addClass("hidden");
                            return false;
                        }
                    }
                });
            });
        </script>

        <!-- State/Address3 Validation -->
        <script>
            $(document).ready(function ()
            {
                $("#address3").on("blur", function ()
                {
                    var errtag = document.getElementById("address3-err");
                    var subtn = document.getElementById("submit-err");
                    var locs = $("#address3").val();
                    var filter = /^[a-zA-Z]{2,}$/;

                    if (filter.test(locs))
                    {
                        errtag.style = "display:none";
                        subtn.disabled = false;
                        //   alert("valid");
                        $("#username-valid").removeClass("hidden");
                        $("#folios-invalid").addClass("hidden");
                        }
                    else
                    {
                        if (locs.length < 2)
                        {
                            subtn.disabled = true;
                            errtag.style = "display:block;color:red";
                            errtag.innerHTML = "This is a required field.";
                            $("#folios-invalid").removeClass("hidden");
                            $("#username-valid").addClass("hidden");
                            return false;
                        }
                        else
                        {
                            subtn.disabled = true;
                            errtag.style = "display:block;color:red";
                            errtag.innerHTML = "Please enter valid characters (A-Z,a-z).";
                            $("#folios-invalid").removeClass("hidden");
                            $("#username-valid").addClass("hidden");
                            return false;
                        }
                    }
                });
            });
        </script>

        <!-- Country/Address4 Validation -->
        <!-- <script>
            $(document).ready(function ()
            {
                $("#address4").on("blur", function ()
                {
                    var errtag = document.getElementById("address4-err");
                    var subtn = document.getElementById("submit-err");
                    var locs = $("#address4").val();
                    var filter = /^[a-zA-Z]{2,}$/;

                    if (filter.test(locs))
                    {
                        if (locs.length < 2)
                        {
                            subtn.disabled = true;
                            errtag.style = "display:block;color:red";
                            errtag.innerHTML = "This is a required field.";
                            $("#folios-invalid").removeClass("hidden");
                            $("#username-valid").addClass("hidden");
                            return false;
                        }
                        else
                        {
                            errtag.style = "display:none";
                            subtn.disabled = false;
                            //   alert("valid");
                            $("#username-valid").removeClass("hidden");
                            $("#folios-invalid").addClass("hidden");
                        }
                    }
                    else
                    {
                        subtn.disabled = true;
                        errtag.style = "display:block;color:red";
                        errtag.innerHTML = "Please enter valid characters (A-Z,a-z).";
                        $("#folios-invalid").removeClass("hidden");
                        $("#username-valid").addClass("hidden");
                        return false;
                    }
                });
            });
        </script> -->

        <!-- Description Validation -->
        <script>
            $(document).ready(function ()
            {
                $("#describe").on("blur", function ()
                {
                    var errtag = document.getElementById("describe-err");
                    var subtn = document.getElementById("submit-err");
                    var locs = $("#describe").val();
                    var filter = /^a-zA-Z0-9'\.\-\s\,$/;
                    if (locs.length < 2)
                    {
                        subtn.disabled = true;
                        errtag.style = "display:block;color:red";                    
                        errtag.innerHTML = "This is a required field.";
                        $("#folios-invalid").removeClass("hidden");
                        $("#username-valid").addClass("hidden");
                        return false;
                    }
                    else
                    {
                        errtag.style = "display:none";
                        subtn.disabled = false;
                        //   alert("valid");
                        $("#mobile-valid").removeClass("hidden");
                        $("#folio-invalid").addClass("hidden");
                    }
                });
            });
        </script>

        <!-- S-age Validation -->
        <script>
            $(document).ready(function ()
            {
                $("#s-age").on("blur", function ()
                {
                    var errtag = document.getElementById("s-age-err");
                    var subtn = document.getElementById("submit-err");
                    var mail = document.getElementById('s-age');

                    if (mail.value)
                    {
                        errtag.style = "display:none";
                        subtn.disabled = false;
                        //   alert("valid");
                        $("#mobile-valid").removeClass("hidden");
                        $("#folio-invalid").addClass("hidden");
                    }
                    else
                    {
                        errtag.style = "display:block;color:red";
                        subtn.disabled = true;
                        errtag.innerHTML = "Please select one option";
                        $("#folio-invalid").removeClass("hidden");
                        $("#mobile-valid").addClass("hidden");
                        return false;
                    }
                });
            });
        </script>

        <!-- S-race Validation -->
        <script>
            $(document).ready(function ()
            {
                $("#s-race").on("blur", function ()
                {
                    var errtag = document.getElementById("s-race-err");
                    var subtn = document.getElementById("submit-err");
                    var mail = document.getElementById('s-race');

                    if (mail.value)
                    {
                        errtag.style = "display:none";
                        subtn.disabled = false;
                        //   alert("valid");
                        $("#mobile-valid").removeClass("hidden");
                        $("#folio-invalid").addClass("hidden");
                    }
                    else
                    {
                        errtag.style = "display:block;color:red";
                        subtn.disabled = true;
                        errtag.innerHTML = "Please select one option";
                        $("#folio-invalid").removeClass("hidden");
                        $("#mobile-valid").addClass("hidden");
                        return false;
                    }
                });
            });
        </script>

        <!-- S-gen Validation -->
        <script>
            $(document).ready(function ()
            {
                $("#s-gen").on("blur", function ()
                {
                    var errtag = document.getElementById("s-gen-err");
                    var subtn = document.getElementById("submit-err");
                    var mail = document.getElementById('s-gen');

                    if (mail.value)
                    {
                        errtag.style = "display:none";
                        subtn.disabled = false;
                        //   alert("valid");
                        $("#mobile-valid").removeClass("hidden");
                        $("#folio-invalid").addClass("hidden");
                    }
                    else
                    {
                        errtag.style = "display:block;color:red";
                        subtn.disabled = true;
                        errtag.innerHTML = "Please select one option";
                        $("#folio-invalid").removeClass("hidden");
                        $("#mobile-valid").addClass("hidden");
                        return false;
                    }
                });
            });
        </script>

        <!-- V-age Validation -->
        <script>
            $(document).ready(function ()
            {
                $("#v-age").on("blur", function ()
                {
                    var errtag = document.getElementById("v-age-err");
                    var subtn = document.getElementById("submit-err");
                    var mail = document.getElementById('v-age');

                    if (mail.value)
                    {
                        errtag.style = "display:none";
                        subtn.disabled = false;
                        //   alert("valid");
                        $("#mobile-valid").removeClass("hidden");
                        $("#folio-invalid").addClass("hidden");
                    }
                    else
                    {
                        errtag.style = "display:block;color:red";
                        subtn.disabled = true;
                        errtag.innerHTML = "Please select one option";
                        $("#folio-invalid").removeClass("hidden");
                        $("#mobile-valid").addClass("hidden");
                        return false;
                    }
                });
            });
        </script>

        <!-- V-race Validation -->
        <script>
            $(document).ready(function ()
            {
                $("#v-race").on("blur", function ()
                {
                    var errtag = document.getElementById("v-race-err");
                    var subtn = document.getElementById("submit-err");
                    var mail = document.getElementById('v-race');

                    if (mail.value)
                    {
                        errtag.style = "display:none";
                        subtn.disabled = false;
                        //   alert("valid");
                        $("#mobile-valid").removeClass("hidden");
                        $("#folio-invalid").addClass("hidden");
                    }
                    else
                    {
                        errtag.style = "display:block;color:red";
                        subtn.disabled = true;
                        errtag.innerHTML = "Please select one option";
                        $("#folio-invalid").removeClass("hidden");
                        $("#mobile-valid").addClass("hidden");
                        return false;
                    }
                });
            });
        </script>

        <!-- V-gen Validation -->
        <script>
            $(document).ready(function ()
            {
                $("#v-gen").on("blur", function ()
                {
                    var errtag = document.getElementById("v-gen-err");
                    var subtn = document.getElementById("submit-err");
                    var mail = document.getElementById('v-gen');

                    if (mail.value)
                    {
                        errtag.style = "display:none";
                        subtn.disabled = false;
                        //   alert("valid");
                        $("#mobile-valid").removeClass("hidden");
                        $("#folio-invalid").addClass("hidden");
                    }
                    else
                    {
                        errtag.style = "display:block;color:red";
                        subtn.disabled = true;
                        errtag.innerHTML = "Please select one option";
                        $("#folio-invalid").removeClass("hidden");
                        $("#mobile-valid").addClass("hidden");
                        return false;
                    }
                });
            });
        </script>

        <!-- Incident Validation -->
        <script>
            $(document).ready(function ()
            {
                $("#incident").on("blur", function ()
                {
                    var errtag = document.getElementById("incident-err");
                    var subtn = document.getElementById("submit-err");
                    var mail = document.getElementById('incident');

                    if (mail.value)
                    {
                        errtag.style = "display:none";
                        subtn.disabled = false;
                        //   alert("valid");
                        $("#mobile-valid").removeClass("hidden");
                        $("#folio-invalid").addClass("hidden");
                    }
                    else
                    {
                        errtag.style = "display:block;color:red";
                        subtn.disabled = true;
                        errtag.innerHTML = "Please select one option";
                        $("#folio-invalid").removeClass("hidden");
                        $("#mobile-valid").addClass("hidden");
                        return false;
                    }
                });
            });
        </script>

        <!-- Affect Validation -->
        <script>
            $(document).ready(function ()
            {
                $("#affect").on("blur", function ()
                {
                    var errtag = document.getElementById("affect-err");
                    var subtn = document.getElementById("submit-err");
                    var mail = document.getElementById('affect');

                    if (mail.value)
                    {
                        errtag.style = "display:none";
                        subtn.disabled = false;
                        //   alert("valid");
                        $("#mobile-valid").removeClass("hidden");
                        $("#folio-invalid").addClass("hidden");
                    }
                    else
                    {
                        errtag.style = "display:block;color:red";
                        subtn.disabled = true;
                        errtag.innerHTML = "Please select one option";
                        $("#folio-invalid").removeClass("hidden");
                        $("#mobile-valid").addClass("hidden");
                        return false;
                    }
                });
            });
        </script>

        <!-- Datatable Initialization -->
        <script>
            $(document).ready(function(){
            $("#datatable").DataTable()
            $('#data-table thead tr')

            var table = $('#data-table').DataTable({
                // scrollX: true,
                orderCellsTop: true,
                fixedHeader: true,
                lengthChange:!1,
                buttons:["copy","excel","colvis"],
                initComplete: function () {

                    this.api().columns(0).every( function ()
                    {
                        var column = this;
                        var select = $(' <select class="form-control"><option value="">All</option></select>')
                            .appendTo('#data-table thead tr #sort0')
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );

                        column.data().unique().sort().each( function ( d, j ) {
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        });
                    })
                    this.api().columns(1).every( function ()
                    {
                        var column = this;
                        var select = $(' <select class="form-control"><option value="">All</option></select>')
                            .appendTo('#data-table thead tr #sort1')
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );

                        column.data().unique().sort().each( function ( d, j ) {
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        });
                    })
                    this.api().columns(2).every( function ()
                    {
                        var column = this;
                        var select = $(' <select class="form-control"><option value="">All</option></select>')
                            .appendTo('#data-table thead tr #sort2')
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );

                        column.data().unique().sort().each( function ( d, j ) {
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        });
                    })
                    this.api().columns(3).every( function ()
                    {
                        var column = this;
                        var select = $(' <select class="form-control"><option value="">All</option></select>')
                            .appendTo('#data-table thead tr #sort3')
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );

                        column.data().unique().sort().each( function ( d, j ) {
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        });
                    })
                    this.api().columns(4).every( function ()
                    {
                        var column = this;
                        var select = $(' <select class="form-control"><option value="">All</option></select>')
                            .appendTo('#data-table thead tr #sort4')
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );

                        column.data().unique().sort().each( function ( d, j ) {
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        });
                    })
                    this.api().columns(5).every( function ()
                    {
                        var column = this;
                        var select = $(' <select class="form-control"><option value="">All</option></select>')
                            .appendTo('#data-table thead tr #sort5')
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );

                        column.data().unique().sort().each( function ( d, j ) {
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        });
                    })

                },

            })
            // .columns.adjust().buttons().container().appendTo("#datatable-buttons_wrapper .col-md-6:eq(0)");
            // $(".dataTables_length select").addClass("form-select form-select-sm")
        });
        </script>


    </body>

</html>










