{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Crime Portal | Reset Password</title>

        <link rel="icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}">
        <meta name="robots" content="noindex">

        <!-- App CSS -->
        <link type="text/css" href="{% static 'assets/css/app.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'assets/css/app.rtl.css' %}" rel="stylesheet">

        <!-- Simplebar -->
        <link type="text/css" href="{% static 'assets/vendor/simplebar.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="mdk-drawer-layout js-mdk-drawer-layout" data-fullbleed data-push data-has-scrolling-region>
            <div class="mdk-drawer-layout__content mdk-header-layout__content--scrollable" style="overflow-y: auto;" data-simplebar data-simplebar-force-enabled="true">


                <div class="container h-vh d-flex justify-content-center align-items-center flex-column">
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <a href="{% url 'home-page' %}" class="drawer-brand-circle mr-2">C</a>
                        <h2 class="ml-2 text-bg mb-0"><strong>Reset Password</strong></h2>
                    </div>
                    <div class="row w-100 justify-content-center">
                        <div class="card card-signup mb-3">

                            {% if messages %}
                                <div class="alert alert-danger alert-dismissable fade show" role="alert">
                                    {% for message in messages %}
                                        <strong {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="card-body">
                                <div class="row w-100 justify-content-center">
                                    <h5>Enter New Password</h5>
                                </div> <br>
                                <form action="{% url 'fp-password' %}" method="post" id="needs-validation" novalidate>
                                    {% csrf_token %}
                                    <div class="form-group left-icon">
                                        <label>Create Password</label>
                                        <div class="input-group input-group--inline">
                                            <div class="input-group-addon"><i class="material-icons">lock_outline</i></div>
                                            <input type="password" class="form-control" id="password" placeholder="Enter Password" 
                                                pattern="(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}" name="Password">
                                            <i class="material-icons" id="eye">visibility</i>
                                        </div>
                                    </div>
                                    <div class="form-group left-icon">
                                        <label>Confirm Password</label>
                                        <div class="input-group input-group--inline">
                                            <div class="input-group-addon"><i class="material-icons">lock_outline</i></div>
                                            <input type="password" class="form-control" name="CPassword" placeholder="Confirm Password" 
                                                pattern="(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}" id="cpassword">
                                            <i class="material-icons" id="eye1">visibility</i>
                                        </div>
                                    </div>
                                    
                                    <div class="text-danger">Password must contain :- <br> 1 Uppercase alphabet,<br> 1 Lowercase alphabet,<br> 1 Number, <br> 1 Special Character</div>
                                    <br><br>

                                    <div class="text-center">
                                        <button type="submit" id="submit-err" class="btn btn-primary">Reset Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="{% static 'assets/vendor/jquery.min.js' %}"></script>

        <script src="{% static 'assets/vendor/bootstrap.min.js' %}"></script>


        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
                "use strict";
                window.addEventListener("load", function() {
                    var form = document.getElementById("needs-validation");
                    form.addEventListener("submit", function(event) {
                        if (form.checkValidity() == false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add("was-validated");
                    }, false);
                }, false);
            }());
        </script>

        <script>
            (function() {
                'use strict';

                // Self Initialize DOM Factory Components
                domFactory.handler.autoInit();
            });
        </script>

        <script>
            $('#eye').on('click', function() {
                var x = document.getElementById("password");
                if (x.type === "password") {
                    x.type = "text";
                    this.innerHTML = "visibility_off"
                }
                else {
                    x.type = "password";
                    this.innerHTML = "visibility"
                }
            })
        </script>

        <script>
            $('#eye1').on('click', function() {
                var x = document.getElementById("cpassword");
                if (x.type === "password") {
                    x.type = "text";
                    this.innerHTML = "visibility_off"
                }
                else {
                    x.type = "password";
                    this.innerHTML = "visibility"
                }
            })
        </script>
        

    </body>

</html>