{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Crime Portal | Sign-Up Page</title>

        <link rel="icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}">
        <meta name="robots" content="noindex">

        <!-- App CSS -->
        <link type="text/css" href="{% static 'assets/css/app.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'assets/css/app.rtl.css' %}" rel="stylesheet">

        <!-- Simplebar -->
        <link type="text/css" href="{% static 'assets/vendor/simplebar.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="mdk-drawer-layout js-mdk-drawer-layout" data-fullbleed data-push data-has-scrolling-region>
            <div class="mdk-drawer-layout__content mdk-header-layout__content--scrollable" style="overflow-y: auto;" data-simplebar data-simplebar-force-enabled="true">


                <div class="container h-vh d-flex justify-content-center align-items-center flex-column">
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <a href="{% url 'home-page' %}" class="drawer-brand-circle mr-2">C</a>
                        <h2 class="ml-2 text-bg mb-0"><strong>Sign Up</strong></h2>
                    </div>
                    <div class="row w-100 justify-content-center">

                        {% if messages %}
                            <div class="alert alert-{% for message in messages %}{{ message.tags }}{% endfor %} alert-dismissable fade show" role="alert">
                                {% for message in messages %}
                                    <strong {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="card card-signup mb-3">
                            <div class="card-body">
                                <form action="{% url 'register' %}" method="post" id="needs-validation" novalidate>
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>First Name</label>
                                            <div class="input-group input-group--inline">
                                                <div class="input-group-addon"><i class="material-icons">person_outline</i></div>
                                                <input type="text" class="form-control" id="name-id" name="firstname" 
                                                    pattern="[A-Za-z]{1,}" placeholder="Enter First Name" required>
                                                <p style="display: none;" id="name-error"></p>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="lastname">Last Name</label>
                                            <div class="input-group input-group--inline">
                                                <div class="input-group-addon"><i class="material-icons">person_outline</i></div>
                                                <input type="text" class="form-control" id="name" name="lastname" 
                                                    pattern="[A-Za-z]{1,}" placeholder="Enter Last Name" required>
                                            </div>
                                        </div>
                                        <p style="display: none;" id="name-err"></p>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>Email</label>
                                            <div class="input-group input-group--inline">
                                                <div class="input-group-addon"><i class="material-icons">mail_outline</i></div>
                                                <input type="email" class="form-control" placeholder="email@example.com" 
                                                    name="email" pattern="\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,})+" required>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="lastname">Contact Number</label>
                                            <div class="input-group input-group--inline">
                                                <div class="input-group-addon"><i class="material-icons">phone</i></div>
                                                <input type="text" class="form-control" name="phone" required
                                                placeholder="(+91) 555-555-5555" pattern="[0-9]{10}">
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <label>Company</label>
                                        <div class="input-group input-group--inline">
                                            <div class="input-group-addon">
                                                <i class="material-icons">business</i>
                                            </div>
                                            <input type="text" class="form-control" name="company">
                                        </div>
                                    </div>
                                    <div class="form-group left-icon">
                                        <label>Email</label>
                                        <div class="input-group input-group--inline">
                                            <div class="input-group-addon">
                                                <i class="material-icons">mail_outline</i>
                                            </div>
                                            <input type="text" class="form-control" name="email" placeholder="email@example.com">
                                        </div>
                                    </div>-->
                                    <div class="form-group left-icon">
                                        <label>Password</label>
                                        <div class="input-group input-group--inline">
                                            <div class="input-group-addon"><i class="material-icons">lock_outline</i></div>
                                            <input type="password" class="form-control" id="password" placeholder="Enter Password" 
                                                pattern="(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}" name="password" required>
                                            <i class="material-icons" id="eye">visibility</i>
                                        </div>
                                    </div>
                                    <div class="form-group left-icon">
                                        <label>Confirm Password</label>
                                        <div class="input-group input-group--inline">
                                            <div class="input-group-addon"><i class="material-icons">lock_outline</i></div>
                                            <input type="password" class="form-control" name="confirm-password" placeholder="Confirm Password" 
                                                pattern="(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}" id="cpassword" required>
                                            <i class="material-icons" id="eye1">visibility</i>
                                        </div>
                                    </div>
                                    
                                    <div class="text-danger">Password must contain :- <br> 1 Uppercase alphabet,<br> 1 Lowercase alphabet,<br> 1 Number, <br> 1 Special Character</div>
                                    <br><br>
                                    
                                    <div class="text-center">
                                        <button type="submit" id="submit-err" class="btn btn-primary">Sign Up</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <span class="mr-2">Already have an account?</span>
                        <a href="{% url 'login' %}">Log In</a>
                    </div>


                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="{% static 'assets/vendor/jquery.min.js' %}"></script>

        <script src="{% static 'assets/vendor/bootstrap.min.js' %}"></script>


        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
                "use strict";
                window.addEventListener("load", function() {
                    var form = document.getElementById("needs-validation");
                    form.addEventListener("submit", function(event) {
                        if (form.checkValidity() == false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add("was-validated");
                    }, false);
                }, false);
            }());
        </script>

        <script>
            (function() {
                'use strict';

                // Self Initialize DOM Factory Components
                domFactory.handler.autoInit();
            });
        </script>

        <script>
            $('#eye').on('click', function() {
                var x = document.getElementById("password");
                if (x.type === "password") {
                    x.type = "text";
                    this.innerHTML = "visibility_off"
                }
                else {
                    x.type = "password";
                    this.innerHTML = "visibility"
                }
            })
        </script>

        <script>
            $('#eye1').on('click', function() {
                var x = document.getElementById("cpassword");
                if (x.type === "password") {
                    x.type = "text";
                    this.innerHTML = "visibility_off"
                }
                else {
                    x.type = "password";
                    this.innerHTML = "visibility"
                }
            })
        </script>
        

    </body>

</html>