{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>D7B | Emergency Contacts</title>

    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}">
    <link type="text/css" href="{% static 'assets/css/vendor-morris.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'assets/css/vendor-bootstrap-datepicker.css' %}" rel="stylesheet">

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <!-- App CSS -->
    <link type="text/css" href="{% static 'assets/css/app.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'assets/css/app.rtl.css' %}" rel="stylesheet">

    <!-- Simplebar -->
    <link type="text/css" href="{% static 'assets/vendor/simplebar.css' %}" rel="stylesheet">
</head>

<body>
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-fullbleed data-push data-responsive-width="992px"
        data-has-scrolling-region>

        <div class="mdk-drawer-layout__content">
            <!--header-layout-->
            <div
                class="mdk-header-layout js-mdk-header-layout  mdk-header--fixed  mdk-header-layout__content--scrollable">
                <!--header-->

                {% include 'miniproject/header.html' %}

                <!--content-->
                <div class="mdk-header-layout__content top-navbar mdk-header-layout__content--scrollable h-100">

                    <!--0main content-->
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div style="float: right;">           
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Emergency Contacts</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>


                        <div class="card-body">
                            <!-- Add Data -->
                            <div class="row">

                                <div class="col-md-4 col-lg-4">
                                    <div class="card card-property">
                                        <a href="javascript: void(0);">
                                            <img src="{% static 'assets/images/911.jpg' %}"
                                                class="card-img"
                                                alt="logo">
                                        </a>
                                        <div class="card-body">
                                            <div
                                                class="d-flex align-items-center justify-content-between mb-2">
                                                <a href="javascript: void(0);"
                                                    class="h4 text-primary-dark mb-0">Emergency
                                                    Contact</a>
                                            </div>
                                            <ul
                                                class="list-unstyled m-0">
                                                <li
                                                    class="d-flex mb-1">
                                                    <i
                                                        class="material-icons md-36 align-middle mb-1 text-primary">call</i>
                                                    <span>911</span>
                                                </li>
                                                <li
                                                    class="d-flex mb-1">
                                                    <i
                                                        class="material-icons md-36 align-middle mb-1 text-primary">chevron_right</i>
                                                    <span>Report
                                                        criminal
                                                        activity,
                                                        contact your
                                                        local police
                                                        or incase of
                                                        any
                                                        emergency.</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-4">
                                    <div class="card card-property">
                                        <a href="javascript: void(0);">
                                            <img src="{% static 'assets/images/fbi.webp' %}"
                                                class="card-img"
                                                alt="logo">
                                        </a>
                                        <div class="card-body">
                                            <div
                                                class="d-flex align-items-center justify-content-between mb-2">
                                                <a
                                                    class="h4 text-primary-dark mb-0">Federal
                                                    Bureau of
                                                    Investigation
                                                    (FBI)</a>
                                            </div>
                                            <ul
                                                class="list-unstyled m-0">
                                                <li
                                                    class="d-flex mb-1">
                                                    <i
                                                        class="material-icons md-36 align-middle mb-1 text-primary">call</i>
                                                    <span>1-800-CALL-FBI
                                                        (1-800-225-5324)</span>
                                                </li>
                                                <li
                                                    class="d-flex mb-1">
                                                    <i
                                                        class="material-icons md-36 align-middle mb-1 text-primary">chevron_right</i>
                                                    <span>Report
                                                        suspected
                                                        violations
                                                        of federal
                                                        law to the
                                                        Federal
                                                        Bureau of
                                                        Investigation
                                                        (FBI).</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-4">
                                    <div class="card card-property">
                                        <a href="javascript: void(0);">
                                            <img src="{% static 'assets/images/humantrafficking.png' %}"
                                                class="card-img"
                                                alt="logo">
                                        </a>
                                        <div class="card-body">
                                            <div
                                                class="d-flex align-items-center justify-content-between mb-2">
                                                <a
                                                    class="h4 text-primary-dark mb-0">National
                                                    Human
                                                    Trafficking
                                                    Hotline</a>
                                            </div>
                                            <ul
                                                class="list-unstyled m-0">
                                                <li
                                                    class="d-flex mb-1">
                                                    <i
                                                        class="material-icons md-36 align-middle mb-1 text-primary">call</i>
                                                    <span>1-888-373-7888</span>
                                                </li>
                                                <li
                                                    class="d-flex mb-1">
                                                    <i
                                                        class="material-icons md-36 align-middle mb-1 text-primary">chevron_right</i>
                                                    <span>Report
                                                        traffickers
                                                        using force,
                                                        fraud, or
                                                        coercion to
                                                        exploit
                                                        their
                                                        victims for
                                                        labor or
                                                        commercial
                                                        sex.</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-4">
                                    <div class="card card-property">
                                        <a href="javascript: void(0);">
                                            <img src="{% static 'assets/images/ncmec.png' %}"
                                                class="card-img"
                                                alt="logo">
                                        </a>
                                        <div class="card-body">
                                            <div
                                                class="d-flex align-items-center justify-content-between mb-2">
                                                <a
                                                    class="h4 text-primary-dark mb-0">National
                                                    Center for
                                                    Missing &
                                                    Exploited
                                                    Children’s
                                                    Cybertipline</a>
                                            </div>
                                            <ul
                                                class="list-unstyled m-0">
                                                <li
                                                    class="d-flex mb-1">
                                                    <i
                                                        class="material-icons md-36 align-middle mb-1 text-primary">call</i>
                                                    <span>1-800-THE-LOST
                                                        (1-800-843-5678)</span>
                                                </li>
                                                <li
                                                    class="d-flex mb-1">
                                                    <i
                                                        class="material-icons md-36 align-middle mb-1 text-primary">chevron_right</i>
                                                    <span>To report
                                                        child
                                                        pornography
                                                        or
                                                        exploitation
                                                        in any
                                                        form.</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-4">
                                    <div class="card card-property">
                                        <a href="javascript: void(0);">
                                            <img src="{% static 'assets/images/rainn.jpg' %}"
                                                class="card-img"
                                                alt="logo">
                                        </a>
                                        <div class="card-body">
                                            <div
                                                class="d-flex align-items-center justify-content-between mb-2">
                                                <a
                                                    class="h4 text-primary-dark mb-0">National
                                                    Sexual Assault
                                                    Hotline</a>
                                            </div>
                                            <ul
                                                class="list-unstyled m-0">
                                                <li
                                                    class="d-flex mb-1">
                                                    <i
                                                        class="material-icons md-36 align-middle mb-1 text-primary">call</i>
                                                    <span>1-800-656-HOPE
                                                        (1-800-656-4673)</span>
                                                </li>
                                                <li
                                                    class="d-flex mb-1">
                                                    <i
                                                        class="material-icons md-36 align-middle mb-1 text-primary">chevron_right</i>
                                                    <span>Report
                                                        sexual
                                                        assault in
                                                        any kind of
                                                        unwanted
                                                        sexual
                                                        activity,
                                                        from
                                                        touching to
                                                        rape.
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-4">
                                    <div class="card card-property">
                                        <a href="javascript: void(0);">
                                            <img src="{% static 'assets/images/domestic violence.jpg' %}"
                                                class="card-img"
                                                alt="logo">
                                        </a>
                                        <div class="card-body">
                                            <div
                                                class="d-flex align-items-center justify-content-between mb-2">
                                                <a
                                                    class="h4 text-primary-dark mb-0">National
                                                    Domestic
                                                    Violence
                                                    Hotline</a>
                                            </div>
                                            <ul
                                                class="list-unstyled m-0">
                                                <li
                                                    class="d-flex mb-1">
                                                    <i
                                                        class="material-icons md-36 align-middle mb-1 text-primary">call</i>
                                                    <span>1-800-799-SAFE
                                                        (1-800-799-7233)</span>
                                                </li>
                                                <li
                                                    class="d-flex mb-1">
                                                    <i
                                                        class="material-icons md-36 align-middle mb-1 text-primary">chevron_right</i>
                                                    <span>Provides
                                                        information
                                                        and
                                                        assistance
                                                        to adult and
                                                        youth
                                                        victims of
                                                        family
                                                        violence,
                                                        domestic
                                                        violence, or
                                                        dating
                                                        violence.</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-4">
                                    <div class="card card-property">
                                        <a href="javascript: void(0);">
                                            <img src="{% static 'assets/images/bomb_threat.png' %}"
                                                class="card-img"
                                                alt="logo">
                                        </a>
                                        <div class="card-body">
                                            <div
                                                class="d-flex align-items-center justify-content-between mb-2">
                                                <a
                                                    class="h4 text-primary-dark mb-0">Bomb
                                                    Threat
                                                    Helpline</a>
                                            </div>
                                            <ul
                                                class="list-unstyled m-0">
                                                <li
                                                    class="d-flex mb-1">
                                                    <i
                                                        class="material-icons md-36 align-middle mb-1 text-primary">call</i>
                                                    <div
                                                        class="col-3 py-1 mb-4 text-center">
                                                        <span>215-573-3333</span>
                                                </li>
                                                <li
                                                    class="d-flex mb-1">
                                                    <i
                                                        class="material-icons md-36 align-middle mb-1 text-primary">chevron_right</i>
                                                    <span>If you
                                                        receive a
                                                        bomb threat
                                                        over the
                                                        telephone or
                                                        find a
                                                        suspicious
                                                        item.</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-lg-4">
                                    <div class="card card-property">
                                        <a href="javascript: void(0);">
                                            <img src="{% static 'assets/images/NSPL.jpg' %}"
                                                class="card-img" alt="logo">
                                        </a>
                                        <div class="card-body">
                                            <div
                                                class="d-flex align-items-center justify-content-between mb-2">
                                                <a
                                                    class="h4 text-primary-dark mb-0">National
                                                    Suicide
                                                    Prevention
                                                    Hotline</a>
                                            </div>
                                            <ul
                                                class="list-unstyled m-0">
                                                <li
                                                    class="d-flex mb-1">
                                                    <i
                                                        class="material-icons md-36 align-middle mb-1 text-primary">call</i>
                                                    <span>1-800-273-TALK
                                                        (1-800-273-8255)</span>
                                                </li>
                                                <li
                                                    class="d-flex mb-1">
                                                    <i
                                                        class="material-icons md-36 align-middle mb-1 text-primary">chevron_right</i>
                                                    <span>If you are
                                                        thinking
                                                        about
                                                        suicide,
                                                        worried
                                                        about a
                                                        friend or
                                                        loved one,
                                                        or in need
                                                        of some
                                                        emotional
                                                        support.</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <!-- Main Content closes -->
            </div>
        </div>
        <!--// END drawer-layout__content-->

        <!--LEFT DRAWER-->
        
        {% include 'miniproject/sidebar.html' %}

    </div>
    <!-- // END drawer-layout -->


    <!-- jQuery -->
    <script src="{% static 'assets/vendor/jquery.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/vendor/bootstrap.min.js' %}"></script>

    <!-- Simplebar -->
    <script src="{% static 'assets/vendor/simplebar.js' %}"></script>


    <script src="{% static 'assets/vendor/dom-factory.js' %}"></script>
    <!-- DOM Factory -->
    <script src="{% static 'assets/vendor/material-design-kit.js' %}"></script>
    <!-- MDK -->


    <script>
        (function () {
            'use strict';
            // Self Initialize DOM Factory Components
            domFactory.handler.autoInit()


            // Connect button(s) to drawer(s)
            var sidebarToggle = document.querySelectorAll('[data-toggle="sidebar"]')

            sidebarToggle.forEach(function (toggle) {
                toggle.addEventListener('click', function (e) {
                    var selector = e.currentTarget.getAttribute('data-target') || '#default-drawer'
                    var drawer = document.querySelector(selector)
                    if (drawer) {
                        if (selector == '#default-drawer') {
                            $('.container-fluid').toggleClass('container--max');
                        }
                        drawer.mdkDrawer.toggle();
                    }
                })
            })
        })()
    </script>


    <script src="{% static 'assets/vendor/morris.min.js' %}"></script>
    <script src="{% static 'assets/vendor/raphael.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'assets/js/datepicker.js' %}"></script>


</body>

</html>